@import '../../assets/styles/baseStyles.scss';
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.6rem;
  padding: 0 25rem;
  background-color: #eaeaea;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  font-weight: 600;
}
